.container {
	text-align: center;
	max-wdith: 1024px;
}

.job {
	border: 1px solid black;
	margin: 15px auto;
	padding: 10px;
	width: 600px;
	text-align: left;
}

form div {
	margin: 10px;
	align-self: center;
}

